<div class="commit">
	<h4>
		<%= image_tag("/images/icons/block.png", :title => t(:commit) , :alt => t(:commit), :border => 0) %>
		<%= commit.author_name %>
		<%= t(:pushed) %>
		<%= commit.sha %>
		<%= t(:to) %>
		<%= commit.branch %>
	</h4>
	<p><%= commit.log.lines.first %></p>
</div>