<div id="repo_browser">
	<div class="path">
		<% path = "" %>
		<% path = params[:dir] + "/" if params[:dir] %>
    <p>
    <%= link_to "/", :action => :show, :id => @repository.id %>
    <%= path %> (<%= params[:branch] || "master" %>)</p>
	</div>
	<table cellspacing=0>
		<tr>
		<th>Filename</th>
		<th>Updated on</th>
		<th>Commit log</th>
		</tr>
		<% branch = "master" %>
	  <% branch = params[:branch] if params[:branch] %>
		<% root_dir = "" %>
		<% root_dir = params[:dir] + "/" if params[:dir] %>
		<% tree = @grit_repo.tree(branch, root_dir) %>
		<% if params[:dir] %>
			<tr class="dir">
				<% troot = (Pathname(root_dir) + "..").to_s %>
				<% if (params[:back] == branch) || troot == "." %>
					<td>
						<%= image_tag("/images/icons/folder-horizontal.png", :title => t(:up), :alt => t(:up), :border => 0)%>
						<%= link_to "..", :action => "show", :id => @repository.id, :branch => branch %></td>
				<% else %>
          <td><%= link_to "..", "/aq_repositories/browse/#{@repository.id}/#{troot}?branch=#{branch}" %></td>
				<% end %>
				<td></td>
				<td></td>
			</tr>
		<% end %>
		<% for dir in @grit_repo.tree(branch, root_dir).trees %>
			<tr class="dir">
				<td>
				<%= image_tag("/images/icons/folder-horizontal.png", :title => dir.basename, :alt => dir.basename, :border => 0) %>
        <%= link_to dir.basename, "/aq_repositories/browse/#{@repository.id}/#{root_dir}#{dir.basename}?branch=#{branch}" %></td>
				<td></td>
				<td></td>
			</tr>
		<% end %>
		<% for file in tree.blobs %>
			<% if file.name != "file-index" %>
				<% a_file = nil %>
				<% a_file = @repository.branch(branch).file(file.name) %>
				<% a_file = @repository.branch("master").file(file.name) if !a_file %>
				<% a_file = @repository.file(file.name) if !a_file %>
				<% commit_time = "" %>
				<% last_log = "-- not found (#{file.name})"%>
				<% if a_file %>
					<% commit_time = a_file.aq_commits.last.committed_time.strftime("%d/%m/%y %H:%M") %>
					<% last_log = a_file.aq_commits.last.log.lines.first.slice(0,30) %>
				<% end %>
				<tr class="file">
					<td>
            <%= image_tag("/images/icons/document-code.png", :title => file.name, :alt => file.name, :border => 0)%>
            <%= link_to file.name, "/aq_repositories/view_file/#{@repository.id}/#{file.name}" %>
					</td>
					<td><%= commit_time %></td>
					<td><%= last_log %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>
