<% form_for repository do |f| %>
	<%= f.error_messages %>
	<p><%= t(:name) %> : <%= f.text_field :name %></p>
	<p><%= t(:desc) %> : <br /><%= f.text_area :desc, :rows => 5, :cols => 32 %></p>
	<p><%= f.submit t(:submit) %></p>
<% end %>