<h2>
	<% if @repository.is_git? %>
		<span class="kind_git" title="git" >G</span>
  <% end %>
  <% if @repository.is_private? %>
    <span class="repo_private" title="<%= t(:repo_private) %>" >P</span>
  <% end %>
  <%= link_to @repository.owner.login, :controller => :users, :action => :show, :id => @repository.owner.id %> /
  <%= link_to @repository.name, :action => :show, :id => @repository.id %>
	<% if current_user && @repository.owner == current_user %>
		<%= link_to image_tag("/images/icons/pencil.png", :title => t(:repo_edit), :alt => t(:repo_edit), :border => 0), :action => "edit", :id => @repository.id %>
	<% end %>
	<% if @repository.parent %>
		<%= link_to image_tag("/images/icons/arrow-skip-090.png", :title => t(:parent), :alt => t(:parent), :border => 0), @repository.parent %>
	<% end %>
	<% if current_user && current_user != @repository.owner %>
		<%= link_to image_tag("/images/icons/arrow-split.png", :title => t(:fork).capitalize, :alt => t(:fork).capitalize, :border => 0), {:action => "fork", :parent_id => @repository.id}%>
	<% end %>
</h2>
