<h1><%= t(:repositories) %></h1>
<div id="repositories">
	<ul>
	<% for repo in @repositories %>
		<li><%= link_to repo.name, repo %>
			<% if current_user && (repo.owner == current_user) %>
				<%= link_to t(:repo_edit), :action => "edit", :id => repo.id %>
				<%= button_to t(:repo_del), repo, :confirm => t(:confirm_ask), :method => :delete %>
			<% end %>
		</li>
	<% end %>
	</ul>
	<% if current_user %>
		<%= link_to t(:repo_new), new_aq_repository_path %>
	<% end %>
</div>