<h2>
	<%= @repository.name %>
	<% if current_user && @repository.owner == current_user %>
		<%= link_to image_tag("/images/icons/pencil.png", :title => t(:repo_edit), :alt => t(:repo_edit), :border => 0), :action => "edit", :id => @repository.id %>
	<% end %>
</h2>

<div class="repository">

	<div class="desc">
		<span class="img"><%= image_tag("/images/icons/big/drives_11.png", :border => 0) %></span>
		<p><strong><%= t(:kind) %> : </strong><%= @repository.kind %></p>
		<p><strong><%= t(:public_path) %> : </strong><%= @repository.public_path %></p>
		<p><strong><%= t(:owner) %> : </strong><%= link_to @repository.owner.login, @repository.owner %></p>
		<p class="desc"><%= @repository.desc %></p>
		<div class="clear"></div>
	</div>

	<div class="people">
		<% for right in @repository.rights %>
		<div class="committer">
			<h4>
				<%= image_tag("/images/icons/user-silhouette.png", :title => nil, :alt => nil, :border => 0) %>
				<%= right.user.login %>
			</h4>
			<p>
				<strong>Status :</strong>
				<% if right.pending? %>
					<%= image_tag("/images/icons/clock-frame.png", :title => t(:pending), :alt => t(:pending), :border => 0)%> <%= t(:pending) %>
					<%= link_to image_tag("/images/icons/thumb-up.png", :title => t(:accept), :alt => t(:accept), :border => 0), {:controller => "rights", :action => "accept", :id => right.id } %>
					<%= link_to image_tag("/images/icons/thumb.png", :title => t(:reject), :alt => t(:reject), :border => 0), {:controller => "rights", :action => "reject", :id => right.id } %>
				<% elsif right.user == @repository.owner %>
					<%= image_tag("/images/icons/user-worker-boss.png", :title => t(:owner), :alt => t(:owner), :border => 0) %> <%= t(:owner) %>
				<% elsif @repository.committers.include?(right.user) %>
					<%= image_tag("/images/icons/user-worker.png", :title => t(:committer), :alt => t(:committer), :border => 0) %> <%= t(:committer) %>
				<% end %>
			</p>
		</div>
		<% end %>
	</div>

</div>