<h1><%= @repository.name %></h1>

<p><strong>Kind : </strong><%= @repository.kind %></p>
<p><strong>Path : </strong><%= @repository.path %></p>

<%= link_to t(:repositories), aq_repositories_path %> | <%= button_to "delete", @repository, :confirm => "sure ?", :method => :delete %>