<% for repo in repositories %>
	<div class="repository">
		<h3>
			<%= link_to repo.owner.login + "/" + repo.name, repo %>
			<%= image_tag("/images/icons/beans.png", :title => t(:beans), :alt => t(:beans), :border => 0) %>
			: <%= repo.beans.count %>
			<%= link_to t(:user_del), repo, {:method => :delete, :confirm => t(:ask_confirm), :title => t(:user_del) }%>
		</h3>
		<div class="desc">
			<span class="img"><%= image_tag("/images/icons/big/drives_11.png", :border => 0) %></span>
			<p><blah><%= repo.desc %></p>
				<p class="members"><%= t(:members) %> :
					<% for user in repo.users.first(10) %>
						<% if user == repo.owner %>
								<%= link_to image_tag("/images/icons/user-worker-boss.png", :title => "#{user.login} (#{t(:owner)})", :alt => "#{user.login} (#{t(:owner)})", :border => 0), user %>
						<% elsif repo.committers.include?(user) %>
							<%= link_to image_tag("/images/icons/user-worker.png", :title => "#{user.login} (#{t(:committer)})", :alt => "#{user.login} (#{t(:committer)})", :border => 0), user %>
						<% else %>
							<%= image_tag("/images/icons/clock-frame.png", :title => t(:pending), :alt => t(:pending), :border => 0)%>
						<% end %>
					<% end %>
					<% if current_user && !repo.users.include?(current_user) %>
						<%= link_to image_tag("/images/icons/hard-hat.png", :title => t(:ask_join), :alt => t(:ask_join), :border => 0), {:controller => "aq_repositories", :action => "join", :id => repo.id} %>
					<% end %>
				</p>
			<div class="clear"></div>
		</div>
	</div>
<% end %>