<% for repo in repositories %>
	<div class="repository">
		<h3>
			<%= link_to repo.owner.login + "/" + repo.name, repo %>
			<% for user in repo.users %>
				<% if user == repo.owner %>
					<% if user == current_user %>
						<%= image_tag("/images/icons/user-worker-boss.png", :title => t(:owner), :alt => t(:owner), :border => 0)%>
					<% else %>
						<%= link_to image_tag("/images/icons/user-worker-boss.png", :title => t(:owner), :alt => t(:owner), :border => 0), user %>
					<% end %>
				<% elsif repo.committers.include?(user) %>
					<%= image_tag("/images/icons/user-worker.png", :title => t(:committer), :alt => t(:committer), :border => 0)%>
				<% else %>
					<%= image_tag("/images/icons/clock-frame.png", :title => t(:pending), :alt => t(:pending), :border => 0)%>
				<% end %>
			<% end %>
			<% if current_user && !repo.users.include?(current_user) %>
				<%= link_to image_tag("/images/icons/hard-hat.png", :title => t(:ask_join), :alt => t(:ask_join), :border => 0), {:controller => "aq_repositories", :action => "join", :id => repo.id} %>
			<% end %>
		</h3>
		<div class="desc">
			<span class="img"><%= image_tag("/images/icons/big/drives_11.png", :border => 0) %></span>
			<p>blah</p>
			<div class="clear"></div>
		</div>
	</div>
<% end %>