<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>
</title>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'prototype.js' %>
<meta name="generator" content="" />
</head>

<body>
	<div id="main">
		<div id="icon">
			<%= image_tag("/images/icons/big/Network-wired.png", :title => "", :alt => "", :border => 0)%>
		</div>

		<div id="login">
			<% if current_user %>
				<%= link_to image_tag("/images/icons/wrench.png", :alt => t(:user_edit), :title => t(:user_edit), :border => 0), {:controller => "users", :action => "edit", :id => current_user.id} %>
				<%= link_to image_tag("/images/icons/door.png", :alt =>t(:logout), :title => t(:logout), :border => 0), logout_path %>
			<% else %>
				<%= link_to image_tag("/images/icons/door.png", :alt => t(:login), :title => t(:login)), login_url %>
				<%= link_to image_tag("/images/icons/rocket-fly.png", :alt => t(:signup), :title => t(:signup), :border => 0), signup_url %>
			<% end %>
		</div>

		<div id="root">
			<%= link_to image_tag("/images/icons/home.png", :title => t(:home), :alt => t(:home), :border => 0) + " Home", root_url %>
			<% if current_user %>
				<%= link_to image_tag("/images/icons/user-silhouette.png", :title => t(:home), :alt => t(:home), :border => 0) + " #{current_user.login}", current_user %>
				<%= link_to image_tag("/images/icons/databases.png", :title => t(:repositories), :alt => t(:repositories), :border => 0) + " #{t(:repositories)}", aq_repositories_path %>
				<%= link_to image_tag("/images/icons/license-key.png", :title => t(:sshkeys), :alt => t(:sshkeys), :border => 0) + " #{t(:sshkeys)}", ssh_keys_path %>
			<% else %>

			<% end %>
		</div>
		<div class="clear"></div>

		<div id="content">
			<%= yield %>
		</div>
	</div>
</body>
</html>